.main {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: to-rem(30);
  padding-bottom: to-rem(30);

  @include respond-above(medium) {
    height: vh(100);
  }
}

.main__logo {
  align-self: center;
  margin-bottom: to-rem(30);
}

.main__title {
  margin-bottom: to-rem(10);
  font-size: to-rem(24);
  text-transform: uppercase;
}

.main__text--accent {
  color: var(--col-tibetan-yellow);
}

.main__subtitle {
  color: var(--col-total-white);
  font-size: to-rem(16);
  text-transform: uppercase;
}

.main__decor-wrapper {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: -#{to-rem(40)};
}

.main__decor {
  width: 75%;
}

.main__glow {
  width: 110%;
  aspect-ratio: 1;
  position: absolute;
  z-index: var(--z-hidden);
  left: 50%;
  bottom: -#{to-rem(50)};
  transform: translateX(-50%);
  border-radius: 50%;
  background-color: rgba(var(--col-lexaloffle-green-rgb), 30%);
  filter: blur(to-rem(50));
}

.main__cta-btn {
  position: relative;
  z-index: var(--z-default);
}

.main__advantages-list {
  margin-top: to-rem(30);
  margin-bottom: to-rem(30);
}

.main__advantages-list-item {
  &:not(:last-child) {
    margin-bottom: to-rem(20);
  }
}

.main__advantage-title {
  margin-bottom: to-rem(5);
  font-size: to-rem(16);
}

.main__possibilities {
  margin-bottom: to-rem(10);
  color: var(--col-total-white);
  font-size: to-rem(16);
}

.main__partners-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: to-rem(10);
  place-items: center;
}
