@mixin bg-image($path) {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  user-select: none;

  @include bg-img-webp($path, true);
}

.main {
  position: relative;
  height: vh(100);
  display: flex;
  align-items: center;
  justify-content: center;

  @media (orientation: portrait) {
    padding: to-rem(20);
    flex-direction: column;
  }
}

.main__left-column,
.main__right-column {
  @media (orientation: portrait) {
    display: contents;
  }

  @media (orientation: landscape) {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.main__left-column {
  align-items: center;
  margin-right: max(1.5vw, to-rem(20));
}

.main__right-column {
  align-items: flex-start;
  text-transform: uppercase;

  @media (orientation: portrait) {
    font-size: to-rem(18);
  }

  @media (orientation: landscape) {
    font-size: vh(5.9);
  }
}

.main__logos-wrapper {
  position: relative;
  z-index: var(--z-main-content);
  display: grid;
  grid-template-columns: repeat(2, auto);
  align-items: center;

  @media (orientation: portrait) {
    order: -2;
    grid-auto-rows: to-rem(50);
    gap: to-rem(37);
    margin-bottom: vh(3);
  }

  @media (orientation: landscape) {
    grid-auto-rows: vh(8.6);
    gap: to-rem(70);
    margin-bottom: vh(3.7);
  }
}

.main__logo {
  height: 100%;

  &:first-child {
    height: 75%;
  }

  img {
    height: 100%;
    width: auto;
  }
}

.main__demo-frame {
  --aspect-ratio: 1.821;

  @media (orientation: portrait) {
    display: contents;
  }

  @media (orientation: landscape) {
    position: relative;
    z-index: var(--z-main-content);
    width: min(58vw, vh(70) * var(--aspect-ratio));
    aspect-ratio: var(--aspect-ratio);

    @include bg-image('/img/laptop');

    @include respond-above(tablet) {
      width: min(52vw, vh(52) * var(--aspect-ratio));
    }
  }
}

.main__demo {
  @media (orientation: portrait) {
    position: relative;
    z-index: var(--z-main-content);
    width: 100%;
    max-width: to-rem(500);
    height: 100%;
    max-height: to-rem(800);

    @include respond-above(tablet) {
      max-width: to-rem(700);
      max-height: to-rem(920);
    }
  }

  @media (orientation: landscape) {
    position: absolute;
    z-index: var(--z-default);
    top: 50%;
    left: 50%;
    transform: translate(-49%, -54%);
    width: 75%;
    height: 87%;
  }
}

.main__advantages-list {
  position: relative;
  z-index: var(--z-main-content);
  display: flex;
  align-items: center;
  margin-top: vh(3.2);
  padding-top: to-rem(9);
  padding-bottom: to-rem(9);
  border-radius: to-rem(10);
  border: to-rem(1) solid var(--col-tibetan-yellow);
  background-color: rgba(var(--col-dark-tone-ink-rgb), 75%);
  font-size: max(vh(1.85), to-rem(12));
  font-weight: 400;

  @media (orientation: portrait) {
    display: none;
  }

  @media (orientation: landscape) {
    @include respond-to(tablet) {
      display: none;
    }
  }
}

.main__advantage-item {
  display: flex;
  align-items: center;
  padding-right: 3vw;
  padding-left: 3vw;

  &:not(:last-child) {
    border-right: to-rem(2) solid var(--col-tibetan-yellow);
  }
}

.main__advantage-item-icon {
  height: vh(6.48);
  width: vh(6.48);
  padding: vh(1.75);
  margin-right: vh(2.3);
  border-radius: 50%;
  border: to-rem(2) solid var(--col-tibetan-yellow);
  color: var(--col-tibetan-yellow);
}

.main__title,
.main__subtitle {
  --skew: 12deg;

  position: relative;
  z-index: var(--z-main-content);
  padding-right: vh(2.7);
  padding-left: vh(2.7);
  color: var(--col-dark-tone-ink);
  transform: skewX(calc(var(--skew) * -1));

  @media (orientation: portrait) {
    display: none;
  }
}

.main__title {
  margin-bottom: to-rem(10);
  margin-left: vh(1.4);
  padding-top: 0.35em;
  padding-bottom: 0.35em;
  background-color: var(--col-tibetan-yellow);
  font-size: vh(3.7);
}

.main__subtitle {
  margin-bottom: to-rem(30);
  padding-top: 0.7em;
  padding-bottom: 0.7em;
  background-color: var(--col-total-white);
  font-size: vh(2.2);
}

.main__title-normal-skew {
  display: inline-block;
  transform: skewX(var(--skew));
}

.main__bonus-text-wrapper {
  position: relative;
  z-index: var(--z-main-content);

  @media (orientation: portrait) {
    order: -1;
    margin-bottom: vh(3);
    text-align: center;
  }

  @media (orientation: landscape) {
    margin-bottom: vh(6.3);
  }
}

.main__bonus--accent {
  color: rgba(var(--col-total-black-rgb), 80%);
  -webkit-text-stroke: to-rem(2) var(--col-tibetan-yellow);
  text-shadow: 0 to-rem(2.5) to-rem(5.5)
    rgba(var(--col-tibetan-yellow-rgb), 50%);

  @media (orientation: portrait) {
    font-size: to-rem(36);
  }

  @media (orientation: landscape) {
    font-size: vh(8.9);

    @include respond-above(tablet) {
      -webkit-text-stroke: to-rem(3) var(--col-tibetan-yellow);
      text-shadow: 0 to-rem(4) to-rem(8)
        rgba(var(--col-tibetan-yellow-rgb), 50%);
    }
  }
}

.main__cta-btn {
  --border-width: #{to-rem(2)};
  --border-radius: #{to-rem(60)};

  position: relative;
  z-index: var(--z-cta-btn);
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(
    180deg,
    var(--col-bubbelgum-heart) 0%,
    var(--col-hornet-sting) 100%
  );
  border-radius: var(--border-radius);
  box-shadow: 0 to-rem(12) to-rem(40) 0 var(--col-love-red);
  text-transform: uppercase;
  overflow: hidden;
  cursor: pointer;
  transition: transform var(--hover-transition);

  @include respond-above(medium) {
    --border-radius: #{to-rem(100)};
  }

  @media (orientation: landscape) {
    padding: vh(2.96) 3vw;
    font-size: vh(2.96);
  }

  @media (orientation: portrait) {
    padding: to-rem(18) to-rem(25);
    font-size: to-rem(19.2);
  }

  &::before {
    content: '';
    position: absolute;
    top: var(--border-width);
    left: var(--border-width);
    height: calc(100% - var(--border-width) * 2);
    width: calc(100% - var(--border-width) * 2);
    border-radius: var(--border-radius);
    z-index: var(--z-hidden);
    background-image: linear-gradient(
        -60deg,
        transparent,
        transparent 40%,
        rgba(var(--col-total-white-rgb), 25%) 40%,
        rgba(var(--col-total-white-rgb), 25%) 60%,
        transparent 60%,
        transparent 100%
      ),
      linear-gradient(
        188deg,
        var(--col-love-red) 6.17%,
        var(--col-hornet-sting) 93.83%
      );
    background-size: 200% 100%, 100%;
    background-position-x: 150%, center;
    background-repeat: no-repeat;
    animation: shimmer-btn 7s var(--slide-transition-timing-function) infinite;
  }

  @include hover {
    transform: scale(1.1);

    &::before {
      background-position-x: -150%, center;
      transition: background-position-x var(--slow-flash-transition-duration)
        var(--slide-transition-timing-function);
    }
  }
}

.main__indian-decor {
  --aspect-ratio: 0.925;

  position: absolute;
  z-index: var(--z-common-decor);
  aspect-ratio: var(--aspect-ratio);

  @include bg-image('/img/decor/indian-decor');

  @media (orientation: portrait) {
    left: 0;
    bottom: 0;
    width: min(90vw, vh(62) * var(--aspect-ratio));
    transform: translateX(-12%);
  }

  @media (orientation: landscape) {
    left: 0;
    bottom: 0;
    width: min(52vw, vh(72) * var(--aspect-ratio));
  }
}

.main__stone-column-decor {
  --aspect-ratio: 0.63;

  position: absolute;
  z-index: var(--z-common-decor);
  aspect-ratio: var(--aspect-ratio);

  @include bg-image('/img/decor/stone-column-decor');

  @media (orientation: portrait) {
    right: 0;
    bottom: 0;
    width: min(70vw, vh(68) * var(--aspect-ratio));
    transform: translateX(20%);
  }

  @media (orientation: landscape) {
    right: 0;
    bottom: 0;
    width: min(40vw, vh(67) * var(--aspect-ratio));
  }
}

.main__aviator-decor {
  --aspect-ratio: 1.56;

  position: absolute;
  z-index: var(--z-common-decor);
  aspect-ratio: var(--aspect-ratio);

  @include bg-image('/img/decor/aviator-decor');

  @media (orientation: portrait) {
    left: 60%;
    bottom: -2%;
    width: min(57vw, vh(25) * var(--aspect-ratio));
    transform: translateX(-50%);
  }

  @media (orientation: landscape) {
    left: 65%;
    bottom: 0;
    width: min(22vw, vh(22) * var(--aspect-ratio));
  }
}

.main__chip-decor-1 {
  --aspect-ratio: 1.185;

  position: absolute;
  z-index: var(--z-common-decor);
  aspect-ratio: var(--aspect-ratio);

  @include bg-image('/img/decor/chip-decor-1');

  @media (orientation: portrait) {
    top: 12%;
    left: -4%;
    width: min(28vw, vh(17.5) * var(--aspect-ratio));
    transform: rotateZ(-90deg) rotateY(180deg) rotateX(20deg);
  }

  @media (orientation: landscape) {
    top: 0;
    left: 3%;
    width: min(13.75vw, vh(27) * var(--aspect-ratio));
  }
}

.main__chip-decor-2 {
  --aspect-ratio: 0.896;

  position: absolute;
  z-index: var(--z-common-decor);
  aspect-ratio: var(--aspect-ratio);

  @include bg-image('/img/decor/chip-decor-2');

  @media (orientation: portrait) {
    top: 24%;
    right: 1%;
    width: min(7.7vw, vh(5) * var(--aspect-ratio));
  }

  @media (orientation: landscape) {
    top: 16%;
    right: 1%;
    width: min(4vw, vh(8) * var(--aspect-ratio));
  }
}

@keyframes shimmer-btn {
  0% {
    background-position-x: 150%, center;
  }

  90% {
    background-position-x: 150%, center;
  }

  100% {
    background-position-x: -150%, center;
  }
}
