<main class="main">
  <div class="main__left-column">
    <div class="main__logos-wrapper">
      <picture class="main__logo">
        <source
          type="image/webp"
          srcset="/img/mayan-logo.webp 494w, /img/mayan-logo@2x.webp 741w"
          sizes="494px"
        />
        <source
          type="image/png"
          srcset="/img/mayan-logo.png 494w, /img/mayan-logo@2x.png 741w"
          sizes="494px"
        />
        <img
          src="/img/mayan-logo.png"
          width="494"
          height="121"
          alt="Mayan Bet logo"
          loading="lazy"
        />
      </picture>
      <picture class="main__logo">
        <source
          type="image/webp"
          srcset="/img/aviator-logo.webp 241w, /img/aviator-logo@2x.webp 481w"
          sizes="241px"
        />
        <source
          type="image/png"
          srcset="/img/aviator-logo.png 241w, /img/aviator-logo@2x.png 481w"
          sizes="241px"
        />
        <img
          src="/img/aviator-logo.png"
          width="241"
          height="93"
          alt="Mayan Bet logo"
          loading="lazy"
        />
      </picture>
    </div>
    <div class="main__demo-frame">
      <iframe
        class="main__demo"
        src="https://demo.spribe.io/launch/aviator?currency=BRL&amp;lang=BR&amp;return_url=https://spribe.co"
        allow="fullscreen"
      ></iframe>
    </div>
    <ul class="main__advantages-list">
      <li class="main__advantage-item">
        {{> svg-icon class="main__advantage-item-icon" width="32" height="32"
        name='joystick' }}
        <span>Jogabilidade simples</span>
      </li>
      <li class="main__advantage-item">
        {{> svg-icon class="main__advantage-item-icon" width="32" height="32"
        name='present' }}
        <span>Vitória Garantida</span>
      </li>
    </ul>
  </div>
  <div class="main__right-column">
    <h2 class="main__title">
      <span class="main__title-normal-skew">Minijogo "Aviador"</span>
    </h2>
    <h3 class="main__subtitle">
      <span class="main__title-normal-skew">Adivinhe o momento e ganhe!</span>
    </h3>
    <div class="main__bonus-text-wrapper">
      <p>Bônus de até</p>
      <p class="main__bonus--accent">R$ 4000!</p>
    </div>
    <button
      class="main__cta-btn js-show-auth-btn"
      type="button"
      aria-label="Jogue a versão completa"
    >
      Jogue a versão completa
    </button>
  </div>
  <div class="main__indian-decor"></div>
  <div class="main__stone-column-decor"></div>
  <div class="main__aviator-decor"></div>
  <div class="main__chip-decor-1"></div>
  <div class="main__chip-decor-2"></div>
</main>
